<%- include("partials/header"); -%>

  <div class="container">

    <h1>Lets Predict the Minimum percent(%) of ticket be sold out in a particular match!</h1>
    <div class="imag">
      <img src="/images/3.png" alt="">
    </div>
    <div class="boxx">
      <form action="/" method="post">
    <div class="row">

    <div class="form-group col-xs-6">
    <label for="team11">Select Team 1</label>
    <!-- slect ya input -->
    <select class="form-control" id="team11" name="team1">
      <option>RCB</option>
      <option>DC</option>
      <option>MI</option>
      <option>PKBS</option>
      <option>CSK</option>
      <option>RR</option>
      <option>SRH</option>
      <option>KKR</option>
    </select>
  </div>


  <div class="form-group col-xs-6">
  <label for="team22">Select Team 2</label>
  <select class="form-control" id="team22" name="team2">
    <option>DC</option>
    <option>RCB</option>
    <option>MI</option>
    <option>PKBS</option>
    <option>CSK</option>
    <option>RR</option>
    <option>SRH</option>
    <option>KKR</option>
  </select>
  </div>



    </div>
      <div class="result">
        <button class="btn btn-primary buto" type="submit" >Find Result</button>
      </div>
  </form>


    </div>



  </div>




<!-- <div class="col-xs-6">
  <input type="text" name="team1" class="form-control" placeholder="Team 1">
</div>
<div class="col-xs-6">
  <input type="text" name="team2" class="form-control" placeholder="Team 2">
</div>

-->
