<%- include("partials/header"); -%>

<div class="container">

  <img class="new" src="/images/5.png" alt="">

  <h1> <%=parseInt(data)%>% <h1>


</div>
  <p>The Approx Minimum Ticket which would be sold out in this match is <%=parseInt(data)%>%. Maximum can go Up.</p>
