<%- include("partials/header"); -%>

<div class="container">

  <img class="new" src="/images/6.png" alt="">
  <h1> <%=re1%> <h1>

</div>
<p style="font-size:30px">Same Team can't have match please select different teams</p>
